
#grid {
    background: center center no-repeat
}
table{
    border : 1px solid black;
    border-spacing: 0px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}

td {
    border : 1px solid black;
    border-spacing: 0px;
    width : 10px;
}

tr {
    border : 1px solid black;
    border-spacing: 0px;
    

}

h1 {
    color: black;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font: 50px 'ChunkFiveRegular';
}

html {

    
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #71089E 100%);
    
    /* Opera */ 
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #71089E 100%);
    
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #71089E));
    
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #71089E 100%);
    
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #71089E 100%);
    
}














